html, body {
  background: linear-gradient(to bottom, rgb(169, 0, 121), rgb(245, 2, 156));
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: auto; 
}
.heading_container {
  color: rgb(0, 0, 0);
  background-color: rgb(245, 2, 156);
  font-size: xx-large;
  text-align: center;
  background-clip: text;
  font-family: "Audiowide", sans-serif;
}

.info_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: auto;
  color: rgb(0, 0, 0);
  font-family: "Audiowide", sans-serif;
}

.button-container{
  display: flex;
  width: 100%;
  align-items: center;

}
.back-button {
  display: flex;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Audiowide", sans-serif;
  margin: 0 2rem;
}
.back-button:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
