html, body {
  width: 100%;
  height: 100%;
  overflow-y: auto; 
  background: linear-gradient(to bottom, rgb(169, 0, 121), rgb(245, 2, 156));
  font-family: "Audiowide", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.heading-container {
  display: flex;
  justify-content: center;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 3.5rem;
}

h2 {
  font-family: "Audiowide", sans-serif;
}

.middle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 23rem;
}

.button-container {
  display: flex;
  width: 80%;
  margin: 4rem 1rem;
  justify-content: space-between;
  height: 7rem;
  align-items: center;
}

.back-button {
  display: block;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.next-button {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  padding: 5px 10px;
  padding-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.next-button:hover {
  background-color: rgb(141, 141, 141);
  cursor: pointer;
}

.back-button:hover {
  background-color: rgb(141, 141, 141);
  cursor: pointer;
}

.user-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  border-radius: 30px;
  margin: 0 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}

.user {
  text-align: center; 
}

.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-left: 5.5rem;
  width:35rem;
}

#question {
  font-size: 2.5rem;
  font-family: "Audiowide", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.new-question-button {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.new-question-button:hover {
  background-color: rgb(141, 141, 141);
  cursor: pointer;
}

.timer-container {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#timer {
  color: rgb(0, 0, 0);
  font-family: "Audiowide", sans-serif;
  font-size: xx-large;
  text-align: center;
}
