body {
  width: 100%;
  height: 100%;
  overflow-y: auto; 
  background: linear-gradient(to bottom, rgb(169, 0, 121), rgb(245, 2, 156));
  /* Fallback background color */
  font-family: "Audiowide", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.heading-container {
  display: flex;
  justify-content: center;
 
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 3.5rem;
}

.middle-container {
  display: flex;
  flex-direction: row;
  margin-right: 10rem;
}

h2 {
  margin-bottom: 1rem;
  font-family: "Audiowide", sans-serif;
}

.next-button-picture {
  width: 50px;
  height: 100%;
}

.button-container {
  display: flex;
  width: 90%;
  margin-bottom: 50px;
  margin-top: 30px;

  justify-content: space-between;
}

.back-button {
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.back-button:hover {
  background-color: rgb(141, 141, 141);
  cursor: pointer;
}

.user-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  border-radius: 30px;
  margin: 2rem 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}

.user {
  text-align: center; 
}

.instructions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4rem;
}

.instruction {
  align-items: left;
  width: 80%;
}

.next-button {
  display: block;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.next-button:hover {
  background-color: rgb(141, 141, 141);
  cursor: pointer;
}
