/*Specifies how the page will look like; colors, margins, size...*/
        body { 
            background-color: #ffffff; 
            background-size: cover;
            color: #333333;
            margin: 0;
            padding: 0;
        }
        .header { /*this is the BPM letters*/   
            color: #CE95F4; 
            text-align: center;
            font-family: "Chiller", fantasy;
            font-size: 3.5rem;
            padding: 1px 0;
            height: 50px;
            margin-top: -80px;
        }

        .user-container {
            display: flex;
            margin-top: 90px;
            padding: 20px;
        }

        .user-box {
            flex: 1;
            border: 2px solid #E0E0E0; 
            padding: 20px; 
            background-color: #FFC0CB;
            border-radius: 10px;
            margin: 10px; 
            box-sizing: border-box; 
            height: 600px; 
            display: flex; 
            flex-direction: column; 

        }
        
        .headerUserName {
            color: #CE95F4; 
            text-align: center;
            font-size: xx-large;
            font-family: cursive;
            margin-bottom: -50px; /* Pushes header further to the top */
            margin-top: -50px;
        }
        .arrow-right-picture{
            width: 50px;
            height: 50px;
        }
        .house-picture{
            width: 50px;
            height: 50px;
        }
        .button-container{
            display: flex;
            width: 90%;
            justify-content: end;
            margin-bottom: -95px;
            margin-top: 50px;
        }

        .chart-container {
            margin-top: 20px;
            height: 90%; 
        }